body,html {
	margin:0;
	height:100%;
	width:100%;
	font-family: PT sans;
	src: url(https://fonts.google.com/share?selection.family=PT%20Sans);
	color: white;
	text-align: center;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 20% 80%;
	grid-template-areas: 
	"header header header"
	"sidebar content content"
	"footer footer footer";
}

.header {
	grid-area: header;
	padding:10px;
	background-color: #333;
	color: white;
	font-size: 2em;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding:10px;
	background-color: #555;
	overflow: auto;
}

.sidebarcontainer{
	display: grid;
	padding:10px;
	grid-template-rows: 90%;
	grid-template-columns: auto;
	grid-template-areas:
	"footingbarcontainer";
}

.sidebartitle{
	padding:10px;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(22, 22, 22);
	border-radius: 5px;
	color: black;
}

.sidebartitle:hover{
	background-color: rgb(217, 252, 255);
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: rgb(175, 175, 175);
}